[submodule "cartographer"]
	path = cartographer
	url = https://github.com/googlecartographer/cartographer.git
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
